<style>
.has-cursor{
    cursor: pointer;
}
</style>
<div class="row" ng-init="initChase()">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Live Stream</h2>
                <a class="btn btn-xs btn-primary pull-right"><i class="fa fa-fw fa-eye"></i> Hide / Show</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">
                    <div class="col-md-3">1. kişinin videosu buraya gelecek</div>
                    <div class="col-md-3">2. kişinin videosu buraya gelecek</div>
                    <div class="col-md-3">3. kişinin videosu buraya gelecek</div>
                    <div class="col-md-3">4. kişinin videosu buraya gelecek</div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><strong>{{mission.name}} </strong> - Chase Mission</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table">
                    <tbody>
                    <tr>
                        <td style="width: 50%;">
                            <table class="table table-striped table-bordered table-condensed" style="padding: 0px;">
                                <tbody>
                                <tr>
                                    <th>Location:</th>
                                    <td>{{mission.location}}</td>
                                </tr>
                                <tr>
                                    <th>Start Date:</th>
                                    <td>{{mission.date_start}}</td>
                                </tr>
                                <tr>
                                    <th>End Date:</th>
                                    <td>{{mission.date_end}}</td>
                                </tr>
                                <tr>
                                    <th>Rescue Team:</th>
                                    <td style="text-align: left;">
                                        <ul>
                                            <li ng-repeat="member in teamMembers">{{member.name}}</li>
                                        </ul>
                                        <a class="green" ng-click="showForm=true" ng-show="!showForm" style="cursor : pointer;"><i class="fa fa-fw fa-plus"></i> add member to team</a>
                                        <div ng-show="showForm">
                                            <select ng-model="addedPerson" ng-options="person as person.name for person in personList" class="form-control"></select>
                                            <button class="btn btn-xs btn-success btn-block" ng-click="additionofTeamMember(addedPerson)"><i class="fa fa-fw fa-plus"></i> Add </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <th class="text-center">Rescue Equipments</th>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i>No record.</i><br />
                                        <a class="green"><i class="fa fa-fw fa-plus"></i> add equipment to mission/person</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="clear: both;"></div>

                <div class="row" ng-controller="MapController" ng-init="initMap()">

                    <div class="col-xs-12">
                        <openlayers ol-center="center" ol-defaults="defaults" height="400">
                            <ol-layer ol-layer-properties="map.layers.bing"></ol-layer>
                            <ol-marker ng-repeat="marker in markers" lat="marker.lat" lon="marker.lon" ol-style="marker.style" ></ol-marker>
                            <ol-draw status="{{polyDrawActive}}" active-type="{{activeType}}" on-draw-end="drawend(data)"></ol-draw>
                            <ol-polygon ng-repeat="polygon in polygons" message="{{polygon.message}}" coords="{{polygon.coords}}" ol-style="polygon.style"></ol-polygon>
                            <ol-marker ng-repeat="pos in activePositions" lat="pos.latitude" lon="pos.longitude" ol-style="pos.style"></ol-marker>
                        </openlayers>
                        {{activePositions}}
                        <div  ng-repeat="pos in activePositions">
                            {{teamMemberDictionary[pos.person_id].style}}
                        </div>
                        <div ng-if="drawingActive" style="padding:5px; border: 1px solid #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                            <strong>Drawing Mode is ACTIVE</strong>
                            <button type="button" class="btn btn-xs btn-success pull-right" ng-click="saveAction()"><i class="fa fa-fw fa-save"></i> Save</button>
                            <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="cancelAction()"><i class="fa fa-fw fa-times"></i> Cancel</button>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <button class="btn danger"><i class="fa fa-fw fa-times"></i> Abort Mission</button>
            </div>
        </div>
    </div>
</div>


