<div class="row" ng-init="initList()">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>People Records</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <table class="table table-bordered table-hover table-striped table-vertical-aligned">
                    <thead>
                    <tr>
                        <th>Person ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Blood Group</th>
                        <th>Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in personList">
                        <td>P{{person.id}}</td>
                        <td>{{person.name}}</td>
                        <td>{{person.surname}}</td>
                        <td>{{person.blood_group}}</td>
                        <td class="text-center">
                            <a ng-href="#/person/update/{{person.id}}" class="btn btn-xs btn-warning"><i class="fa fa-fw fa-edit"></i> Edit </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
