<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper" style="margin-top: 0px;">
        <div class="animate form login_form">
            <section class="login_content">
                <form>

                    <h1>
                        Search&Rescue
                    </h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Email" ng-model="loginModel.email" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" ng-model="loginModel.password" required="" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="javascript:void(0);" ng-click="login()">Login</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator"  style="text-align:center">
                        <div class="clearfix"></div>
                        <br />

                        <div style="text-align:center">
                            <p>Supported by</p>
                            <img src="images/aselsan.png" style="height: 60px; width:  auto;">
                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>